body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 8px;
  }

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}

.links {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  a {
    text-decoration: none;
  }

